doctype html
html(ng-app='bomb')
  head
    title Bomberman
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript' src='/js/jquery.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/js/app.js')
  body
    block content
